<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="ObjectQuelUniversal">
            <directory>tests/ObjectQuel/Unit</directory>
            <directory>tests/ObjectQuel/Universal</directory>
        </testsuite>
        <testsuite name="ObjectQuelMySQL">
            <directory>tests/ObjectQuel/MySQL</directory>
            <file>tests/ObjectQuel/Integration/RoutineDeployTest.php</file>
            <file>tests/ObjectQuel/Integration/UpsertTest.php</file>
            <file>tests/ObjectQuel/SQLite/IfNullAltValueUnmatchedRowTest.php</file>
            <file>tests/ObjectQuel/SQLite/SoftDeleteMultipleRangesTest.php</file>
            <file>tests/ObjectQuel/SQLite/SoftDeleteDatetimeLeftJoinTest.php</file>
            <file>tests/ObjectQuel/SQLite/SoftDeleteBooleanLeftJoinTest.php</file>
            <file>tests/ObjectQuel/SQLite/RelationshipCascadeForeignKeyTest.php</file>
            <file>tests/ObjectQuel/SQLite/EntityBridgeEagerLoadTest.php</file>
            <file>tests/ObjectQuel/SQLite/EntityBridgeDirectQueryEagerLoadTest.php</file>
            <file>tests/ObjectQuel/SQLite/EntityBridgeForwardEagerLoadTest.php</file>
            <file>tests/ObjectQuel/SQLite/EntityBridgeSelfReferencingEagerLoadTest.php</file>
            <file>tests/ObjectQuel/SQLite/SoftDeleteCascadeTest.php</file>
            <file>tests/ObjectQuel/PostgreSQL/RoutineCallTest.php</file>
            <file>tests/ObjectQuel/PostgreSQL/RoutineBodyCallTest.php</file>
            <file>tests/ObjectQuel/SequenceFunctionTest.php</file>
            <file>tests/ObjectQuel/WhereWindowFilterTest.php</file>
            <file>tests/ObjectQuel/WhereHavingFilterTest.php</file>
            <file>tests/ObjectQuel/WindowChainTest.php</file>
        </testsuite>
        <testsuite name="ObjectQuelSQLServer">
            <directory>tests/ObjectQuel/SQLServer</directory>
        </testsuite>
        <testsuite name="Canvas">
            <directory>tests/Canvas</directory>
        </testsuite>
        <testsuite name="CanvasSchedulerRabbitMQ">
            <directory>tests/SchedulerRabbitMQ</directory>
        </testsuite>
        <testsuite name="Support">
            <directory>tests/Support</directory>
        </testsuite>
        <testsuite name="Discover">
            <directory>tests/Discover</directory>
        </testsuite>
        <testsuite name="Recommender">
            <directory>tests/Recommender</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>objectquel-postgres</group>
        </exclude>
    </groups>
    <php>
        <env name="TEST_DB_HOST" value="127.0.0.1"/>
        <env name="TEST_DB_PORT" value="3306"/>
        <env name="TEST_DB_NAME" value="canvas_blog"/>
        <env name="TEST_DB_USER" value="root"/>
        <env name="TEST_DB_PASS" value=""/>
    </php>
</phpunit>
